body {
  background-color: black;
  color: white;

  h1 {
    font-family: 'Gloria Hallelujah', sans-serif;
  }

  h2 {
    font-family: 'Architects Daughter', cursive;
  }


  table {
    // border: 2px solid gold;
    width: 300;
    border-radius: 10px;
    margin: 2em;
    background-color: gold;
    padding: 2px;
  }

  tr {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/3/3e/CatsMusicalLogo.jpg');
    // background-image: url('https://s-media-cache-ak0.pinimg.com/236x/42/a9/bf/42a9bf4972b7189c596647813c44eeef.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
}
