td.root {
  height: 200px;
  width: 100px;
  // background-size: contain;
  // // background-image: url('https://s-media-cache-ak0.pinimg.com/236x/42/a9/bf/42a9bf4972b7189c596647813c44eeef.jpg');
  // background-position: center;
  // background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5px;

  img {
    height: 100%;
    width: 100%;
  }

  &.down {
    img {
      opacity: 0;
    }
  }

  &.up {
    img {
      opacity: 1;
    }
  }
}
